<div class="joinus">
  <h1>WE <span class="love"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></span> Food!</h1>
  <h2>You do too, right?</h2>
  <%= link_to "Join Us!", new_user_registration_path, class: "btn btn-danger btn-lg" %>
</div>
