@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body{
  font-family: 'Source Sans Pro', sans-serif;
}

em{
  font-size: 10px;
}

h3{
  margin-top: 5px;
}
 .container{
   width: 540px;
 }

.avatar-feed{
  width: 35px;
}

.avatar-comment{
  width: 20px;
}

.comments{
  padding: 10px;
}

.nav-profile img{
  align: top;
  width: 20px;
}

.love{
  color: #d43f3a;
}
.joinus{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 100px;
}

.joinus h1{
  font-size: 72px;
}

.joinus h2{
  font-size: 36px;
}

.footer{
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #f2eaea;
}
