<div class="footer">
  <p>Developed by
    <%= link_to "Rosiene", "https://github.com/rosiene", target: "_blank" %>,
    <%= link_to "Stefan", "https://github.com/Stefanouweneel", target: "_blank" %>  and
    <%= link_to "Sylvia", "https://github.com/lubegasylvia", target: "_blank" %>
    </p>
</div>
